In [ ]:
# 1. Explain the key feature of Python that make it a popular choice fo$ programming.

In [ ]:

# it is simple and readable.
# Large standard library
# dynamical typed
# interpreted language
# free and open source library

# 2.Describe the role of predefined keywords in python and provide example of how they are used in program.

  the word use for defining a function is called as keyword. They provide a important role in python like printing the thing 
or taking a input.

Some examples are: Print ("Hello world")
                  name = input ("what is your name")

In [ ]:
# 3. Compare and contrast mutable and immutable objects in python with examples.

# objects whose state or value can change after they are created called mutable objects. ex list, dictionary and set

# objects whose state or value can not  change after they are created called immutable objects. ex strings, tuples and numbers

In [35]:
# 4. Discuss the different types of operators in Python and provide examples of how they are used.

# arithmetic operator
 # we use(+, -, *, /, **, )
a = 5
b = 6
a + b

11

In [36]:
a -b

-1

In [37]:
a**b

15625

#comparison operator

In [39]:
#floor operator>>gives nearest operator
4//3

1

In [41]:
#not equals to (!=)
2!=2

False

In [ ]:
#we have more operator like <,>=,<=,

In [43]:
#assignment operator
a =10
a

10

In [44]:
a= a+10
a

20

In [45]:
a+= 5
a

25

In [46]:
#membership operator(in and not in)
a = "pwskills"
"p" in a

True

In [48]:
"data" not in "pwskills"

True

In [49]:
#identity operator
a = 2 
b = 3 
a is b

False

In [50]:
b is a

False

In [51]:
#bitwise operator
10 & 10

10

In [52]:
18 & 3

2

In [53]:
3|5

7

In [54]:
#negotiations
~3

-4

In [55]:
~145

-146

In [56]:
#shift>>left shift and right shift
35<<3

280

In [57]:
#right shift
280>>3

35

In [63]:
 #5. Explain the concept of type casting in Python with examples.

 # There are two type of type casting
# implicit
# explicit

# implicit: to know the type of variable
 x = 2
 type (2)
     
 #Explicit: convert data in inbuilt function 
 
 x = 22.5
 y = int (22.5)
 type(y)
 int
 y
 22

22

In [7]:
# 6. How do conditional statements work in Python? Illustrate with examples.
    
score =50 
if score >= 90:
    print("grade a")
elif (80 <=score <90):
    print(" grade b")
elif ( 70<= score <80):  
    print ("grade c")
else:
    print ("grade d")

grade d

In [64]:
#make a survey age classifier
#age greater 70 and if no dese you are a good budha
#if age btw 50 to 70 and more than 10000000 moneyyou are retierd
#if age btw 50 to 70 and money is btw 1cr and 50 lakh >> you are working buddha
##if age btw 50 to 70 and money is less than 50 lakhs>>you have just started your career
#if age less then 50 and greater then 20 and marries and child and job >>you are uoung
#if age is less 20 and no job you are berojgar

age = 19
disease=False
money = 100000001
married = True
has_child = True
has_job = True
if age >70:
    if not disease:
        print ("you are a good budha")
elif 50 <= age <=70:
    if money > 100000000:
         print("you are retierd")
    elif 5000000<=money<=10000000:
            print("you are working budha")
    else:
         print("you have just started your career")
elif 20<age <50:
    if married and has_child and has_job:
        print("you are young")
elif age < 20:
    if not has_job:
          print("you are berojgaar")
else:
      print("no sprcific clasification")

In [14]:
# 7. Describe the different types of loops in Python and their use cases with examples.

#For loop in list 
marks = [95, 98,97]
for score in marks:
    print (score)

95
98
97

In [15]:
# while loop
i = 1 
while i <=5:
    print(i)
    i = i+ 1

1
2
3
4
5

In [19]:
# for printing the pattern
 
i = 1 
while i <=10:
    print(i * "#")
    i = i+1

#
##
###
####
#####
######
#######
########
#########
##########

In [21]:
# for printing opposite pattern
 
i = 5
while i >=0:
    print(i * "#")
    i = i-1

#####
####
###
##
#

In [32]:
#range
numbers = range(5)
print(numbers)

range(0, 5)

In [33]:
range(5)

range(0, 5)